* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, sans-serif;
}

.cardContainer
{
    border: 1px solid #ddd;
    color: #304151;
    border-radius: 5px;
    width: 230px;
    height: 220px;
    padding: 10px;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 10px;
    background-color: #EFEFEF;
}

.cardButton{
    background-color: #3AADD8;
    color: #F9FCFC;
    width: 100px;
    font-size: medium;
    font-weight: 700;
    border-radius: 5px;
    border: 1px solid #8b8b8b;
    padding: 0.5rem;
}